<div class='span3'>
    <div style="margin-top: 17px"><%= image_tag @book.cover, alt: @book.title %></div>

    <%= render 'bookmark_dropdown' %>
</div>

<div class='span9'>
    <div class="">
    <h2 style="text-align: left;"><%= @book.title %></h2>
    </div>

    <div class="">
    <h5>by <%= @book.author %></h5>
    </div>

    <div class="synopsis">
    <p><%= @book.synopsis %></p>
    </div>

    <hr>
    <p>
        <b>Average Rating:</b>
        <%= '%.2f' % @book.average_rating %>
    </p>

    <p>
        <b>Published year:</b>
        <%= @book.published_year %>
    </p>

    <p>
        <b>Language:</b>
        <%= @book.language %>
    </p>

    <p>
        <b>Publisher:</b>
        <%= @book.publisher %>
    </p>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reviewModal">
        <% if @book.book_relationships.find_by_user_id(current_user).nil? %>
          Add a Review
        <% else %>
          Update Review
        <% end %>
    </button>
</div>

<%= render "review_modal" %>