<%= form_for(@book) do |f| %>

  <%= render 'shared/errors', object: @book %>

  <div class="container">
    <div class="row">

      <!-- 1st Half of the form -->
      <div class="span6">
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control'%>
        </div>
        <div class="form-group">
          <%= f.label :isbn_number %>
          <%= f.text_field :isbn_number, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :author %>
          <%= f.text_field :author, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :synopsis %>
          <%= f.text_field :synopsis, class: 'form-control' %>
        </div>
      </div>

      <!-- 2nd Half of the form -->
      <div class="span6">
        <div class="form-group">
          <%= f.label :published_year %>
          <%= f.text_field :published_year, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :language %>
          <%= f.text_field :language, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :cover %>
          <%= f.text_field :cover, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :publisher %>
          <%= f.text_field :publisher, class: 'form-control' %>
        </div>
      </div>

    </div>

    <div class="">
      <div class="actions">
        <%= f.submit 'Add', class: 'btn btn-success btn-lg'%>
      </div>
    </div>
  </div>
<% end %>
