<header class="navbar navbar-fixed-top" id="navbar">
  <div class="navbar-inner navbar-default" id="navbar">
    <div class="container">
      <%= link_to "Good Reads", root_url, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_url %></li>
          <% if current_user %>
            <% if current_user.admin? %>
              <li><%= link_to 'New Book', new_book_path %></li>
            <% end %>
            <li><%= link_to 'Explore', books_path %></li>
            <li><%= link_to 'Profile', '#' %></li>
            <li><%= link_to 'Sign Out', sign_out_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Register', new_user_path %></li>
            <li><%= link_to 'Sign In', sign_in_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>