<header class="navbar navbar-fixed-top" id="navbar">
  <div class="navbar-inner navbar-default" id="navbar">
    <div class="container">
      <%= link_to "Good Reads", root_url, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_url %></li>
          <% if current_user %>
            <% if current_user.admin? %>
              <li><%= link_to 'New Book', new_book_path %></li>
            <% end %>
            <li><%= link_to 'Explore', books_path %></li>
            <li><%= link_to 'My Books', my_books_path %></li>
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "About",   about_path %></li>

            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= gravatar_for current_user, size: 20 %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="disabled" style="text-align: left;padding-left: 20px;"><%= current_user.name %></li>
                <li class="divider"></li>
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", sign_out_path, method: :delete %>
                </li>
              </ul>
            </li>
            
          <% else %>
            <li><%= link_to 'Register', new_user_path %></li>
            <li><%= link_to 'Sign In', sign_in_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>